lib/
coverage/
.env
*.log
npm-debug.log*
.DS_Store
.vscode/
.idea/
*.swp
Thumbs.db
package-lock.json
*.js.cache
test-results/test-results.xml
node_modules/.bin/acorn
node_modules/.bin/commitizen
node_modules/.bin/commitlint
node_modules/.bin/cz
node_modules/.bin/git-cz
node_modules/.bin/husky
node_modules/.bin/ts-node
node_modules/.bin/ts-node-cwd
node_modules/.bin/ts-node-esm
node_modules/.bin/ts-node-script
node_modules/.bin/ts-node-transpile-only
node_modules/.bin/ts-script
node_modules/@commitlint/
node_modules/@cspotcode/
node_modules/acorn/
node_modules/ajv/
node_modules/arg/
node_modules/at-least-node/
node_modules/base64-js/
node_modules/bl/
node_modules/buffer/
node_modules/cachedir/
node_modules/chardet/
node_modules/cli-cursor/
node_modules/cli-spinners/
node_modules/cli-width/
node_modules/clone/
node_modules/commitizen/
node_modules/conventional-commit-types/
node_modules/cosmiconfig/
node_modules/create-require/
node_modules/cz-conventional-changelog/
node_modules/defaults/
node_modules/detect-file/
node_modules/diff/
node_modules/expand-tilde/
node_modules/external-editor/
node_modules/fast-deep-equal/
node_modules/fast-uri/
node_modules/find-node-modules/
node_modules/find-root/.
node_modules/findup-sync/
node_modules/fs-extra/
node_modules/global-dirs/
node_modules/global-modules/
node_modules/global-prefix/
node_modules/homedir-polyfill/
node_modules/husky/
node_modules/iconv-lite/C
node_modules/ieee754/
node_modules/import-fresh/
node_modules/inquirer/
node_modules/is-extglob/
node_modules/is-glob/
node_modules/is-interactive/
node_modules/is-unicode-supported/
node_modules/is-utf8/
node_modules/is-windows/
node_modules/json-schema-traverse/
node_modules/jsonfile/
node_modules/lodash.*
node_modules/log-symbols/
node_modules/longest/
node_modules/merge/
node_modules/mute-stream/
node_modules/ora/
node_modules/os-tmpdir/
node_modules/parent-module/
node_modules/parse-passwd/
node_modules/require-from-string/
node_modules/resolve-dir/index.js
node_modules/resolve-*
node_modules/run-async/
node_modules/rxjs/
node_modules/safer-buffer/
node_modules/tmp/
node_modules/ts-node/
node_modules/tslib/
node_modules/universalify/
node_modules/v8-compile-cache-lib/
node_modules/wcwidth/
node_modules/word-wrap/
node_modules/yn/
node_modules/@tsconfig/node10/LICENSE
node_modules/@tsconfig/node10/package.json
node_modules/@tsconfig/node10/README.md
node_modules/@tsconfig/node10/tsconfig.json
node_modules/@tsconfig/node12/LICENSE
node_modules/@tsconfig/node12/package.json
node_modules/@tsconfig/node12/README.md
node_modules/@tsconfig/node12/tsconfig.json
node_modules/@tsconfig/node14/LICENSE
node_modules/@tsconfig/node14/package.json
node_modules/@tsconfig/node14/README.md
node_modules/@tsconfig/node14/tsconfig.json
node_modules/@tsconfig/node16/LICENSE
node_modules/@tsconfig/node16/package.json
node_modules/@tsconfig/node16/README.md
node_modules/@tsconfig/node16/tsconfig.json
node_modules/acorn-walk/CHANGELOG.md
node_modules/acorn-walk/LICENSE
node_modules/acorn-walk/package.json
node_modules/acorn-walk/README.md
node_modules/acorn-walk/dist/walk.d.mts
node_modules/acorn-walk/dist/walk.d.ts
node_modules/acorn-walk/dist/walk.js
node_modules/acorn-walk/dist/walk.mjs
node_modules/cosmiconfig-typescript-loader/LICENCE
node_modules/cosmiconfig-typescript-loader/package.json
node_modules/cosmiconfig-typescript-loader/README.md
node_modules/cosmiconfig-typescript-loader/dist/cjs/index.js
node_modules/cosmiconfig-typescript-loader/dist/types/index.d.ts
node_modules/cosmiconfig-typescript-loader/dist/types/loader.d.ts
node_modules/cosmiconfig-typescript-loader/dist/types/typescript-compile-error.d.ts
node_modules/find-root/.npmignore
node_modules/find-root/.travis.yml
node_modules/find-root/index.js
node_modules/find-root/LICENSE.md
node_modules/find-root/package.json
node_modules/find-root/README.md
node_modules/find-root/test/test.js
node_modules/iconv-lite/Changelog.md
node_modules/iconv-lite/LICENSE
node_modules/iconv-lite/package.json
node_modules/iconv-lite/README.md
node_modules/iconv-lite/encodings/dbcs-codec.js
node_modules/iconv-lite/encodings/dbcs-data.js
node_modules/iconv-lite/encodings/index.js
node_modules/iconv-lite/encodings/internal.js
node_modules/iconv-lite/encodings/sbcs-codec.js
node_modules/iconv-lite/encodings/sbcs-data-generated.js
node_modules/iconv-lite/encodings/sbcs-data.js
node_modules/iconv-lite/encodings/utf7.js
node_modules/iconv-lite/encodings/utf16.js
node_modules/iconv-lite/encodings/tables/big5-added.json
node_modules/iconv-lite/encodings/tables/cp936.json
node_modules/iconv-lite/encodings/tables/cp949.json
node_modules/iconv-lite/encodings/tables/cp950.json
node_modules/iconv-lite/encodings/tables/eucjp.json
node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
node_modules/iconv-lite/encodings/tables/gbk-added.json
node_modules/iconv-lite/encodings/tables/shiftjis.json
node_modules/restore-cursor/index.d.ts
node_modules/restore-cursor/index.js
node_modules/restore-cursor/license
node_modules/restore-cursor/package.json
node_modules/restore-cursor/readme.md
